/Exercises_9_10/ArrayListClass/nbproject/private/
/Exercises_9_10/ArrayListClass/build/
/Exercises_9_10/PracticeArray2/nbproject/private/
/Exercises_9_10/PracticeArray2/build/
/Exercise8/nbproject/private/
/Exercise8/build/
/Chapter7/nbproject/private/
/Chapter7/build/
/Chapter9/TheArrayListClass/nbproject/private/
/Chapter9/TheArrayListClass/build/
/Chapter9/Exercises/nbproject/private/
/Chapter8/Exercises/nbproject/private/